html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #a1a0a0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #fb950f;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #a1a0a0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;

}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3rem;
  margin: 2rem;
  height: 60rem;
  border: 2px black solid;

}

.product img {
  height: 37rem;
  width: 30rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.description,
.product-price {
  font-size: 1.6rem;
  width: 30rem;


}

.product-price {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #ec5800 solid;
  background-color: #ec5800;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #ca4b02;
}

/* cart */

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 7rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: .5rem;
}

.crt-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total>div {
  font-size: 2rem;
}

.total>div,
.total>button {
  flex: 1;
}

/* zamówienie */
form {
  width: 100%;
}

.form-conteiner {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.form-conteiner li {
  text-decoration: none;
}

.form-conteiner li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: .1rem #000000 solid;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* order */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: center;
  padding: 0;
}

.success-message {
  color: #83d10e;
}